.main__container__input-add__input {
    height: 40px;
    border:none;
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03); 
    width: 100%;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 100;
    font-family: sans-serif;
    }
    
    .main__container__input-add {
    width: 100%;
    display: flex;
    }
    .main__container__input-add__button {
    height: 40px;
    background-color: green;
    color: white;
    font-weight: bolder;
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03); 
    }