.card{
    width: 250px;
    height: 250px;
    margin: 30px 30px;
    display: inline-block;
    position: relative;
}

.info{
    opacity: 0.9;
    border: 2px black solid;
    font-size: 21px;
    width: 60%;
    height: 30px;
    margin: 5px 10px;
    background: white;
    border-radius: 5px;
    text-align: center;
}

.background_image{
    width: 250px;
    position: absolute;
}

.delete_icon{
    opacity: 0.9;
    position: absolute;
    right: 0;
    top: 0;
    color: black;
    font-size: 25px;
    border: 3px solid red;
    background: red;
    cursor: pointer;
}