.main {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.header {
  text-align: center;
}

body {
  margin: 0;
}

.main_modal {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 1;
}

.modal_container {
  margin: 100px auto;
  height: 400px;
  width: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modal_header {
  text-align: center;
  font-weight: 100;
  margin: 0;
}
.modal_content {
  margin: 0;
}

.modal__buttons {
}

.modal__delete_button,.modal__no_button {
  width: 70px;
  height: 40px;
  margin: 0 30px;
  color: white;
  text-shadow: black 0 0 2px;
  font-size: 20px;
  font-family: "Times New Roman", Times, sans-serif;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.modal__delete_button,
.modal__no_button:focus {
  outline: none;
}


.modal__delete_button{
    background-color: red;
}
.modal__no_button {
  background-color: grey;
}
